[run]
branch = true
source = unicef_security
omit = *migrations*

[report]
fail_under = 20
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = ~build/coverage
title = Validator Coverage report
